<!DOCTYPE html>
<html>
<head>
  <title>WebCam Video Recorder</title>
</head>
<body>
  <h1>Streaming Video Recorder</h1>
  <div id="recorder">
    <button id="record">Record</button>
    <button id="stop">Stop</button>
    <a id="download"></a>
    <script type="text/javascript" src="{{ url_for('static', filename='recorder.js') }}"></script>      
  </div>
  <img id="video" src="{{ url_for('video_viewer') }}">
</body>
</html>
