{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p><I>Your account details are below:</I></p>
    <table>
        <tr>
            <td><B>Username:</B></td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td><B>Password:</B></td>
            <td>{{ account['password'] }}</td>
        </tr>
        <tr>
            <td><B>Email:</B></td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}
